body {
    background-color: gray;
}

#playlist {
    font-size: 2em;
    height: 300px;
}

.artist-info {
    font-size: 4em;
}

#uris.dragover {
    background-color: gray;
}

#played {
    display: none;
}

#length {
    display: none;
}