body {
    background-color: black;
    color: white;
}

#playlist {
    margin: 1em;
    font-size: 2em;
    height: 300px;
    border-right: 4px solid gray;
}

.artist-info {
    font-size: 3em;
    color: #C3D9FF;
}

.artist-info#title {
    font-weight: bold;
}

#uris.dragover {
    background-color: gray;
}

#played {
    display: none;
}

#length {
    display: none;
}

#votes {
    text-align: center;
    padding: 10px;
}

#votecount {
    font-size: 8em;
    color: #C3D9FF;
}

.explanation {
    text-align: justify;
    font-size: 1.5em;
}

#add {
    margin-top: 100px;
}

a {
    color: white;
}